*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

header{
    background-image: url(https://i.pinimg.com/originals/3a/f9/15/3af9153275f9ed5747718598c870904f.jpg);
    background-blend-mode:darken ;
    height: 95vh;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.6);
}

nav{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}

#logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
    cursor: pointer;
}

#nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

#sign-in{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

.location{
    border: none;
    border-radius: 7px;
    appearance: none;
    padding: 0 5px 0 20px;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}

.location .select-icon{
    color:white;
    height: 100%;
    top: 20px;
    right: 25px;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.select-icon i{
    font-size: 16px;
}

ul{ 
    list-style: none;
    background: rgba(0, 0, 0, 0);
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li ul.dropdown a:hover{
    background-color: white;
    color: black;
}

ul li:hover ul.dropdown{
    display: block;
}

.heading{
    margin: 80px;
}

.heading h1{
    color: #73F64b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300px;
    text-align: center;
    letter-spacing: 7px;
}

.heading p{
    color: #73F64b;
    font-size: 30px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 12px;
}

#tickets{
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#ticket{
    width: 150px;
    height: 50px;
    border-radius: 0%;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.divider{
    width: 100%;
    height: 20px;
}


.top-artists{
    background-color:black;
    width: 100%;
    height: 900px;
}

.top-artists h1{
    color: #73F64b;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 30px;
    padding-top: 20px;
    letter-spacing: 2px;
}

.top-artists p{
    padding-left: 32px;
    color: white;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
}

.top-artists .card{
    height: 600px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 60px;
    border-color:white;
    border-radius: 0%;
    transition: 1s;
}

.top-artists .card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.top-artists .card img{
    height: 300px;
}

.top-artists .card-body{
    background-color:#73F64b;
}

.top-artists .card-body h5{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.top-artists .card-body .card-text{
    color: black;
}

.top-artists .card-body .btn {
    background-color:#73F64b;
    border-color: black;
    color: black;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
}

.top-artists .card-body .btn:hover{
    background-color: black;
    color: #73F64b;
    border-color: black;
}

.recent-events{
    background-color:black;
    width: 100%;
    height: 900px;
}

.recent-events h1{
    color: #73F64b;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 30px;
    padding-top: 20px;
    letter-spacing: 2px;
}

.recent-events p{
    padding-left: 32px;
    color: white;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
}

.recent-events .card{
    height: 600px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 60px;
    border-color:white;
    border-radius: 0%;
    transition: 1s;
}

.recent-events .card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.recent-events .card img{
    height: 300px;
}

.recent-events .card-body{
    background-color:#73F64b;
}

.recent-events .card-body h5{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.recent-events .card-body .card-text{
    color: black;
}

.recent-events .card-body .btn {
    background-color:#73F64b;
    border-color: black;
    color: black;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 35px;
}

.recent-events .card-body .btn:hover{
    background-color: black;
    color: #73F64b;
    border-color: black;
}

.gallery{
    background-color: black;
}

.gallery .g-photos{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery h1{
    color: #73F64b;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 40px;
    padding-top: 20px;
    letter-spacing: 2px;
}

.gallery p{
    padding-left: 40px;
    color: white;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
}

.gallery img{
    height: 748px;
    width: 749px;
    object-fit: cover;
    object-position: bottom;
    padding: 50px;
    transition: 0.5s;
}

.gallery img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
