@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

header{
    background-image: url(https://i.pinimg.com/originals/3a/f9/15/3af9153275f9ed5747718598c870904f.jpg);
    background-blend-mode:darken ;
    height: 95vh;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
}

nav{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}

#logo{
    height: 170px;
    width:170px;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: 40px;
}

#nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

#sign-in{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

.location{
    border: none;
    border-radius: 7px;
    appearance: none;
    padding: 0 5px 0 20px;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}

.location .select-icon{
    color:#FFFFFF;
    height: 100%;
    top: 20px;
    right: 25px;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.select-icon i{
    font-size: 16px;
}

nav ul{ 
    list-style: none;
    background: rgba(0, 0, 0, 0);
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 20px 25px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

nav ul li ul.dropdown li{
    display: block;
}

nav ul li ul.dropdown{
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 999;
    display: none;
}

nav ul li ul.dropdown a:hover{
    background-color: #FFFFFF;
    color: black;
}

nav ul li:hover ul.dropdown{
    display: block;
}

.heading{
    margin: 80px;
}

.heading h1{
    color: #73F64b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300px;
    text-align: center;
    letter-spacing: 7px;
}

.heading p{
    color: #73F64b;
    font-size: 30px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 12px;
}

#tickets{
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#ticket{
    width: 180px;
    height: 55px;
    border-radius: 0%;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.divider{
    width: 100%;
    height: 5px;
}


.top-artists{
    background-color:black;
    width: 100%;
    height: 900px;
    position: sticky;
    top: 75px;
}

.top-artists h1{
    color: #73F64b;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 30px;
    padding-top: 20px;
    letter-spacing: 2px;
}

.top-artists p{
    padding-left: 32px;
    color: #FFFFFF;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
}

.top-artists .card{
    height: 600px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 60px;
    border-color:#FFFFFF;
    border-radius: 0%;
    transition: 1s;
}

.top-artists .card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.top-artists .card img{
    height: 300px;
}

.top-artists .card-body{
    background-color:#73F64b;
}

.top-artists .card-body h5{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.top-artists .card-body .card-text{
    color: black;
}

.top-artists .card-body .btn {
    background-color:#73F64b;
    border-color: black;
    color: black;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
}

.top-artists .card-body .btn:hover{
    background-color: black;
    color: #73F64b;
    border-color: black;
}

.recent-events{
    background-color:black;
    width: 100%;
    height: 900px;
    position: sticky;
    top: 75px;
}

.recent-events h1{
    color: #73F64b;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 30px;
    padding-top: 20px;
    letter-spacing: 2px;
}

.recent-events p{
    padding-left: 32px;
    color: #FFFFFF;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
}

.recent-events .card{
    height: 600px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 60px;
    border-color:#FFFFFF;
    border-radius: 0%;
    transition: 1s;
}

.recent-events .card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.recent-events .card img{
    height: 300px;
}

.recent-events .card-body{
    background-color:#73F64b;
}

.recent-events .card-body h5{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.recent-events .card-body .card-text{
    color: black;
}

.recent-events .card-body .btn {
    background-color:#73F64b;
    border-color: black;
    color: black;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 35px;
}

.recent-events .card-body .btn:hover{
    background-color: black;
    color: #73F64b;
    border-color: black;
}

.gallery{
    background-color: black;
    position: sticky;
    top: 75px;
}

.gallery .g-photos{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery h1{
    color: #73F64b;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 40px;
    padding-top: 20px;
    letter-spacing: 2px;
}

.gallery p{
    padding-left: 40px;
    color: #FFFFFF;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
}

.gallery img{
    height: 748px;
    width: 749px;
    object-fit: cover;
    object-position: bottom;
    padding: 50px;
    transition: 0.5s;
}

.gallery img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.back-to-top{
    height: 25px;
    background:#21680b;
    position: sticky;
    top: 75px;
}

.back-to-top a{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}

.back-to-top a:hover{
    scale: 1.2;
}

.foot{
    background-color:black;
    padding: 70px 0;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    position: sticky;
    top: 75px;
}

.in-box{
    max-width: 1170px;
    background-color: black;
    margin: auto;
}

.row1{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col ul{
    list-style: none;
}

.footer-col h4{
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;
    color: #ffffffae;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #FFFFFF;
    padding-left: 20px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 5px;
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    background-color: #FFFFFF;
    color: black;
    scale: 1.3;
}
