@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background-color: black;
    color: #ffffff;
}

.main p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}

#head{
    padding-top: 200px;
}

#desc{
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    font-size: 20px;
}

.main h1{
    color: #73F64b;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    padding-top: 5px;
}

.ticket{
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

#tickets{
    width: 180px;
    height: 55px;
    border-radius: 0%;
    letter-spacing: 2px;
}

.ticket a{
    text-decoration: none;
    color: #ffffff;
}

img{
    display: flex;
    margin: auto;
    width: 600px;
    padding-bottom: 50px;
}

.below{
    background-color: black;
    color: #ffffff;
    padding-bottom: 100px;
}

.below h1{
    padding-left: 430px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    padding-top: 5px;
}

.below p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 430px;
}

#desc1{
    padding-right: 300px;
}
.foot{
    background-color:black;
    padding: 70px 0;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    position: sticky;
    top: 75px;
}

.in-box{
    max-width: 1170px;
    background-color: black;
    margin: auto;
}

.row1{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col ul{
    list-style: none;
}

.footer-col h4{
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;
    color: #ffffffae;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #FFFFFF;
    padding-left: 20px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 5px;
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    background-color: #FFFFFF;
    color: black;
    scale: 1.3;
}
