*{
    background-color: black;
}

#t2{
    text-align: center;
    color: white;
    margin-top: 150px;
}

#event-description{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}

button{
    color: white;
    font-size: 20px;
    border-color: white;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tim-loc{
    margin-left: 250px;

}

#time-loc{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: 30px;
    font-weight: 50;
    font-stretch: 100%;
    
}

#about{
    margin-left: 250px;


}


#ate{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: 30px;
    font-weight: 50;
    font-stretch: 100%;
}

#id1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 50;
    font-stretch: 100%;

}

#id2{
    margin-right: 100px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#ticket{
    margin-left: 250px;
}

#tick{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: 30px;
    font-weight: 50;
    font-stretch: 100%;
}

#c1{
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 100px;
}

#c2{
    margin-left: 20px;
    margin-right: 100px;

}

#img{
    height: 500px;
    width: 80%;
    background-image: url('./bangr.jfif');
    margin-top: 60px;
    margin-left: 33%;
    background-repeat: no-repeat;
    background-size: contain;
}
