
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background-color: black;
    color: #ffffff;
}

.main p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}

#head{
    padding-top: 200px;
}

#desc{
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    font-size: 20px;
}

.main h1{
    color: #73F64b;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    padding-top: 5px;
}

.ticket{
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

#tickets{
    width: 180px;
    height: 55px;
    border-radius: 0%;
    letter-spacing: 2px;
}

.ticket a{
    text-decoration: none;
    color: #ffffff;
}

img{
    display: flex;
    margin: auto;
    width: 705px;
    padding-bottom: 50px;
}

.below{
    background-color: black;
    color: #ffffff;
    padding-bottom: 100px;
}

.below h1{
    padding-left: 485px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    padding-top: 5px;
}

.below p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 485px;
}

#desc1{
    padding-right: 400px;
}
